.app {
    display: flex;
    height: 100%;
    flex-direction: column;
}
.navHeader {
    background-color: #0051a2;
}
.navHeader a {
    color: #eee;
}

main.content {
    flex-grow: 1;
}
.index {
    padding: 0 30px;
}

article.Card {
    padding: 20px;
}

article.Card > table {
    width: 100%;
}

article.Card header {
    font-size: 30px;
}

article.Card .label {
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
    white-space: nowrap;
}

article.Card .value {
    width: 100%;
}

article.Card .rulesText {
    padding-top: 10px;
}

article.Card .flavorText {
    font-style: italic;
}

.markdownRef {
    vertical-align: super;
}

article.columns {
    display: flex;
}

ol.LicenseLevels {
    list-style-type: upper-roman;
}

.AddModalBody section.AddSource {
    display: flex;
    margin-bottom: 20px;
}

.AddModalBody section.AddSource input {
    flex-grow: 1;
    margin: 0 10px;
}

.AddModalBody section.AddSource label {
    margin: 5px 0;
    vertical-align: middle;
    font-weight: 600;
    line-height: unset;
}

.Source {
    display: flex;
}
.Source span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.Source .deleteButton {
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 0;
    background-color: transparent;
}

.Source .deleteButton:hover {
    fill: red;
}

.Talent .flavorText {
    padding: 10px 40px 20px;
}

.TalentLevel > td {
    padding: 10px 20px;
}

.TalentLevel td:first-child {
    vertical-align: top;
    white-space: nowrap;
    text-align: right;
    font-weight: 600;
}

.TalentLevel:nth-child(even) {background: #CCC}
.TalentLevel:nth-child(odd) {background: #FFF}

.Weapon.Block {
    border: 1px solid black;
    display: inline-block;
    padding: 10px;
}
.Weapon.Block td.name {
    text-align: left;
}

.Weapon.Block td.rulesText {
    font-weight: normal;
    text-align: left;
}